<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yuan.project.platform.mapper.TokenMapper" >
  <resultMap id="BaseResultMap" type="org.yuan.project.platform.entity.Token" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="client_id" property="clientId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="abade_date" property="abadeDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, client_id, code, create_date, abade_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.yuan.project.platform.entity.Token" >
    insert into token (id, client_id, code, 
      create_date, abade_date)
    values (#{id,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, #{code,jdbcType=CHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{abadeDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.yuan.project.platform.entity.Token" >
    insert into token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="abadeDate != null" >
        abade_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="abadeDate != null" >
        #{abadeDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yuan.project.platform.entity.Token" >
    update token
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="abadeDate != null" >
        abade_date = #{abadeDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yuan.project.platform.entity.Token" >
    update token
    set client_id = #{clientId,jdbcType=INTEGER},
      code = #{code,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      abade_date = #{abadeDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>